@import "tailwindcss";

.tophead {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}
.tophead2 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
.tophead3{
  font-family: "DM Sans", sans-serif;
  font-weight:900;
}

.tophead4{
  font-family: "DM Sans", sans-serif;
  font-weight:400;
}